.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s ease;
}

@media (max-width: 1279px) {
  .image:focus {
    transform: scale(1.1);
  }
}

@media (min-width: 1280px) {
  .image:hover {
    transform: scale(1.1);
  }
}
