button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  padding: 8px 16px;
  height: 40px;
  border: none;
  background: #4e75ff;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #6c8cff;
}
